# Root plaintext files (license, changelog, etc.)
include ./*.txt
# Built-in rules files and board graphic.
include spectra_lexer/assets/*.cson
include spectra_lexer/assets/board.svg
# Test data and package header (doesn't get included by default???).
include test/__init__.py
include test/data/*.json
