# Root plaintext files (license, changelog, etc.)
include ./*.txt
# Built-in rules files.
include spectra_lexer/assets/*.cson
# Test data and package header (doesn't get included by default???).
include test/__init__.py
include test/data/*.json
