# Prefixes and suffixes. The "STRK" flag will invalidate the rule if part of a larger stroke; avoid this in general.
# Only use "STRK" to show composite "OPT" rules that would otherwise be ignored.

{
  # left bank
  "in.":  ["TPH",  "[in|n.]",     [],      "included vowel sound"],
  "en.":  ["TPH",  "[en|n.]" ,    [],      "included vowel sound (TPHERPBLG → energy)"],
  "ex.":  ["KP",   "[ex|x.]",     [],      "included vowel sound"],
  "exc.": ["KP",   "[exc|x.]",    [],      "combined consonant sounds"],
  "ext.": ["KP",   "(ex.)t",      [],      "shortening of `ext`; must not conflict with other words using KP"],
  "ex+":  ["S",    "[ex|s.]",     [],      "slurred short form of `ex` (SABGT → exact)"],
  "exp.": ["SP",   "(ex+)(p.)",   ["OPT"], "slurred short form of `exp`"],

  "con.": ["K",    "(c.)on",      [],      "shortening of `con`; must not conflict with other words using K"],
  "cons.":["K",    "(con.)s",     [],      "shortening of `cons`; must not conflict with other words using K"],
  "cont.":["K",    "(con.)t",     [],      "shortening of `cont`; must not conflict with other words using K"],
  "com.": ["K",    "(c.)om",      [],      "shortening of `com`; must not conflict with other words using K (K-FRT → comfort)"],
  "comp.":["KP",   "(com.)(p.)",  ["OPT"], "usually overrides `ex` in conflicts (KPABGT → compact)"],

  # right bank
  ".ing": ["-G",   "in(.g)",      [],      "common suffix; must not conflict with other words using -G"],
  ".ly":  ["-L",   "(.l)y",       [],      "common suffix; must not conflict with other words using -L (SHROEL → slowly)"],
  ".ty":  ["-T",   "(.t)y",       [],      "common suffix; must not conflict with other words using -T (ABLT → ability)"],
  ".ed":  ["-D",   "e(.d)",       [],      "drop unstressed vowel"],
  ".er":  ["-R",   "e(.r)",       [],      "drop unstressed vowel"],
  ".es":  ["-S",   "e(.s)",       [],      "drop unstressed vowel"],
  ".al":  ["-L",   "a(.l)",       [],      "drop unstressed vowel"],
  ".el":  ["-L",   "e(.l)",       [],      "drop unstressed vowel"],
  ".king":["-G",   "king",        [],      "`king`: special case for suffix after `k`"],
  ".kly": ["-LG",  "kly",         [],      "`kly`: special case for suffix after `k`"],

  "-st":  ["*FT",  "(.s.)(.t)(*:PS)",      [], "standalone suffix stroke"],
  "-st":  ["*FT",  "(.s.)(.t)(*:PS)",      [], "standalone suffix stroke"],
  "-nd":  ["*PBD", "(.n)(.d)(*:PS)",       [], "standalone suffix stroke"],
  "-rd":  ["*RD",  "(.r)(.d)(*:PS)",       [], "standalone suffix stroke"],

  "-able":   ["-BL",  "a(.b)(.l)e",        [], "standalone suffix stroke"],
  "-ability":["-BLT", "a(.b)i(.l)i(.ty)",  [], "standalone suffix stroke"],
  "-ful":    ["-FL",  "(.f)u(.l)",         [], "drop unstressed vowel"],
  ".full":   ["-FL",  "(.f)u(.ll)",        [], "drop unstressed vowel"],
  "-less":   ["-LS",  "(.l)e(.ss)",        [], "drop unstressed vowel"],
  ".ment":   ["-PLT", "(.m)en(.t)",        [], "drop middle"],
  "-ment":   ["*PLT", "(.ment)(*:PS)",     [], "standalone suffix stroke"],
  "-ness":   ["-PBS", "(.n)e(.ss)",        [], "drop unstressed vowel"],
  ".xt":     ["-GT",  "[x|.g](.t)",        [], "disambiguation from `kets`"],

  # full board
  "-a":      ["KWRA",   "a",         ["STRK"], "`a`: standalone suffix stroke"],
  "-y":      ["KWREU",  "y",         ["STRK"], "`y`: standalone suffix stroke"],
  "-ly":     ["HREU",   "(l.)(y)",         [], "standalone suffix stroke"],
  "-ry":     ["REU",    "(r.)(y)",         [], "standalone suffix stroke"],
  "ary.":    ["REU",    "a(-ry)",          [], "drop unstressed vowel"],
  "ery.":    ["REU",    "e(-ry)",          [], "drop unstressed vowel"],

  "-er":     ["*ER",    "(e)(.r)(*:PS)",   [], "standalone suffix stroke"],
  "-ia":     ["KWRA*",  "(ia.)(*:PS)",     [], "standalone suffix stroke"],
  "-ial":    ["KWRAL",  "(ia.)(.l)",       [], "standalone suffix stroke"],
  "-ian":    ["KWRAPB", "(ia.)(.n)",       [], "standalone suffix stroke"],
  "-ier":    ["KWRER",  "(ie.)(.r)",       [], "standalone suffix stroke"],
  "-io":     ["KWRO*E", "(iO.)(*:PS)",     [], "standalone suffix stroke"],
  "-ion":    ["KWROPB", "(io.)(.n)",       [], "standalone suffix stroke"],
  "-or":     ["O*R",    "(o)(.r)(*:PS)",   [], "standalone suffix stroke"],

  "o~":      ["AU",     "o",         ["SPEC"], "alternative vowel combo for `o` when used in prefix"],
  "of.":     ["AUF",    "(o~)(.f)",        [], "prefix with alternate vowels"],
  "off-":    ["AUF",    "(o~)(.ff)",       [], "standalone prefix stroke"],
  "con-":    ["KAUPB",  "(c.)(o~)(.n)",    [], "standalone prefix stroke"],
  "for-":    ["TPAUR",  "(f.)(o~)(.r)",    [], "standalone prefix stroke"],
  "over-":   ["AUFR",   "(o~)(.v)e(.r)",   [], "standalone prefix stroke"],
  "under-":  ["UPBD",   "(u)(.n)(.d)er",   [], "standalone prefix stroke"],

  "~ou":     ["OU",     "ou",        ["SPEC"], "alternative vowel combo for `ou` when used in suffix"],
  "-ous":    ["OUS",    "(~ou)(.s)",       [], "standalone suffix stroke"],
  "-ious":   ["KWROUS", "(i~)(-ous)",      [], "standalone suffix stroke"],

  "y~":      ["KWR",    "",          ["SPEC"], "left side `y` blended into another vowel"],
  ".u":      ["KWRU",   "(y~)(u)",         [], "blended `y` → `u` sound"],
  ".U":      ["KWRAOU", "(y~)(U)",         [], "blended `y` → `u` sound"],
  "-us":     ["KWRUS",  "(.u)(.s)",  ["STRK"], "standalone suffix stroke"],

  "-ary":    ["AER",  "(a)(.ry)",    ["STRK"], "standalone suffix stroke"],
  "-ally":   ["AEL",  "(a)(.lly)",   ["STRK"], "standalone suffix stroke"],
  "-ual":    ["WAL",  "(u.)(a)(.l)", ["STRK"], "standalone suffix stroke"],
  "-ually":  ["WAEL", "(u.)(-ally)", ["STRK"], "standalone suffix stroke"],
  "-uous":   ["WOUS", "(u.)(-ous)",  ["STRK"], "standalone suffix stroke"],
  "-tory":   ["TOER", "(t.)(o)(.ry)",["STRK"], "standalone suffix stroke"]
}
