# Rules that actively involve symbols. Still must include at least one alphanumeric character.

{
  "'":   ["AE",    "'",       [],       "single quote `'`"],
  "-'s": ["AES",   "(')(.s)", ["STRK"], "possessive suffix `'s`"],
  ".":   ["-FPLT", ".",       [],       "period"],
  ",":   ["-RBGS", ",",       [],       "comma"]
}
