# More complex steno rules

{
  # left bank
  "ch.":    ["KH",     "(c.)(h.)",   [], "left side `ch`"],
  "sh.":    ["SH",     "(s.)(h.)",   [], "left side `sh`"],
  "th.":    ["TH",     "(t.)(h.)",   [], "left side `th`"],

  "C.+":    ["KR",     "c",          [], "used to disambiguate soft `c` vs. `s`"],
  ".v.":    ["W",      "v",    ["RARE"], "rarely used as middle `v` (TKWOUR → devour, KAUPB/WHRAOUGS → convolution)"],
  "z.+":    ["STKPW",  "z",    ["RARE"], "used for `z` when asterisk is used elsewhere (STKPW*EUPBG → zinc)"],

  # right bank
  ".ch":    ["-FP",    "ch",         [], "right side `ch`"],
  ".sh":    ["-RB",    "sh",         [], "right side `sh`"],
  ".th":    ["*T",     "th",         [], "right side `th`"],

  ".v+":    ["*F",     "(.v)(*:CF)", [], "used to disambiguate `f` vs. `v`"],
  ".s.":    ["-F",     "s",          [], "used as `s` when necessary to preserve steno order"],
  ".C.":    ["-F",     "c",          [], "used as soft `c` when necessary to preserve steno order"],
  ".st+":   ["*S",     "st",         [], "right side `st`; used in case of conflict with -FT"],

  ".m~":    ["-FR",    "m",    ["SPEC"], "ghost pattern for `m`; used when combined with certain letters"],
  ".mp":    ["-FRP",   "(.m~)(.p)",  [], "uncommon consonant pair (KAFRP → camp)"],
  ".mb":    ["-FRB",   "(.m~)(.b)",  [], "uncommon consonant pair (TKPBEUFRBL → gimble)"],
  ".ml":    ["-FRL",   "(.m~)(.l)",  [], "uncommon consonant pair (KAFRL → camel)"],
  ".mp+":   ["*PL",    "mp",         [], "alternative for `mp`; deprecated in favor of -FRP by certain parties"],

  ".k~":    ["*G",     "k",    ["SPEC"], "ghost pattern for `k`; used when combined with certain letters"],
  ".nj":    ["-PBG",   "(.n)[j|.g]", [], "the 'NJ' sound; treats `g` as `j`"],
  ".nk":    ["*PBG",   "(.n)(.k~)",  [], "the 'NK' sound; overlap of `n` and `k`"],
  ".lk":    ["*LG",    "(.l)(.k~)",  [], "the 'LK' sound (H*ULG → hulk)"],
  ".lj":    ["-LG",    "(.l)[j|.g]", [], "the 'LJ' sound; treats `g` as `j`"],
  ".lch":   ["-LG",    "lch",        [], "the 'LCH' sound (PHULG → mulch)"],

  ".rv":    ["-FRB",   "rv",         [], "the 'RV' sound (KUFRB → curve)"],
  ".rch":   ["-FRPB",  "rch",        [], "the 'RCH' sound"],
  ".nch":   ["-FRPB",  "nch",        [], "the 'NCH' sound"],
  ".nch+":  ["-FRPBLG","nch",  ["RARE"], "used to disambiguate `nch` vs. `rch` (HRUFRPBLG → lunch)"],

  "~shun":  ["-GS",    "shun", ["SPEC"], "the 'SHUN' sound"],
  "~kshun": ["-BGS",   "kshun",["SPEC"], "the 'KSHUN' sound; overlap of `k` and `shun`"],
  ".gion":  ["-GS",    "gion", ["RARE"], "the 'GEN' sound"],

  # vowels
  "y":      ["EU",     "y",    [],   "used as `y` at the end of words"],
  "a_e":    ["AE",     "a",    [],   "spelling of `a_e` is AE for vowel sound conflicts with `ai`"],
  "ei+":    ["AE",     "ei",   [],   "spelling of `ei` is AE for vowel sound conflicts with `ai` (WAET → weight)"],
  "ea+":    ["AE",     "ea",   [],   "spelling of `ea` is AE for vowel sound conflicts"],
  "oa":     ["AO",     "oa",   [],   "spelling of `oa` is AO for vowel sound conflicts"],
  "oo":     ["AO",     "oo",   [],   "spelling of `oo` is always AO"],
  "au":     ["AU",     "au",   [],   "the `au` sound"],
  "ou":     ["OU",     "ou",   [],   "the `ou` sound"],
  "oi":     ["OEU",    "oi",   [],   "the `oi` sound"]
}
