# Main prefixes and suffixes

{
  # left bank
  "in.":  ["TPH",  "[in|n.]",     "",    "included vowel sound"],
  "en.":  ["TPH",  "[en|n.]" ,    "",    "included vowel sound", "TPHERPBLG → energy"],
  "ex.":  ["KP",   "[ex|x.]",     "",    "included vowel sound"],
  "ext.": ["KP",   "[ext|ex.]",   "",    "shortening of `ext`; must not conflict with other words using KP"],
  "ex+":  ["S",    "[ex|s.]",     "",    "slurred short form of `ex`", "SABGT → exact"],
  "exp.": ["SP",   "(ex+)(p.)",   "",    "slurred short form of `exp`"],

  "con.": ["K",    "(c.)on",      "",    "shortening of `con`; must not conflict with other words using K"],
  "cons.":["K",    "(con.)s",     "",    "shortening of `cons`; must not conflict with other words using K"],
  "cont.":["K",    "(con.)t",     "",    "shortening of `cont`; must not conflict with other words using K"],
  "com.": ["K",    "(c.)om",      "",    "shortening of `com`; must not conflict with other words using K", "K-FRT → comfort"],
  "comp.":["KP",   "(com.)(p.)",  "",    "usually overrides `ex` in conflicts", "KPABGT → compact"],

  "-y":   ["KWREU","y",           "",    "`y`: standalone suffix stroke"],
  "-ly":  ["HREU", "(l.)(y)",     "",    "standalone suffix stroke"],
  ".ty+": ["TEU",  "(t.)(y)",     "",    "suffix stroke; does NOT work on its own"],
  "-ry":  ["REU",  "(r.)(y)",     "",    "standalone suffix stroke"],
  ".ary+":["REU",  "a(-ry)",      "",    "drop unstressed vowel"],
  ".ery+":["REU",  "e(-ry)",      "",    "drop unstressed vowel"],

  # right bank
  ".ing": ["-G",   "in(.g)",      "",    "common suffix; must not conflict with other words using -G"],
  ".ed":  ["-D",   "e(.d)",       "",    "drop unstressed vowel"],
  ".er":  ["-R",   "e(.r)",       "",    "drop unstressed vowel"],
  ".es":  ["-S",   "e(.s)",       "",    "drop unstressed vowel"],
  ".al":  ["-L",   "a(.l)",       "",    "drop unstressed vowel"],
  ".el":  ["-L",   "e(.l)",       "",    "drop unstressed vowel"],
  ".ly":  ["-L",   "(.l)y",       "",    "common suffix; must not conflict with other words using -L", "SHROEL → slowly"],
  ".ty":  ["-T",   "(.t)y",       "",    "common suffix; must not conflict with other words using -T", "ABLT → ability"],
  ".king":["-G",   "king",        "",    "`king`: special case for suffix after `k`"],
  ".kly": ["-LG",  "kly",         "",    "`kly`: special case for suffix after `k`"],

  "-st":  ["*FT",  "(.s.)(.t)(*:PS)",     "",    "standalone suffix stroke"],
  "-st":  ["*FT",  "(.s.)(.t)(*:PS)",     "",    "standalone suffix stroke"],
  "-nd":  ["*PBD", "(.n)(.d)(*:PS)",      "",    "standalone suffix stroke"],
  "-rd":  ["*RD",  "(.r)(.d)(*:PS)",      "",    "standalone suffix stroke"],

  "-able":   ["-BL",  "a(.b)(.l)e",       "",    "standalone suffix stroke"],
  "-ability":["-BLT", "a(.b)i(.l)i(.ty)", "",    "standalone suffix stroke"],
  "-ful":    ["-FL",  "(.f)u(.l)",        "",    "drop unstressed vowel"],
  ".full":   ["-FL",  "(.f)u(.ll)",       "",    "drop unstressed vowel"],
  "-less":   ["-LS",  "(.l)e(.ss)",       "",    "drop unstressed vowel"],
  ".ment":   ["-PLT", "(.m)en(.t)",       "",    "drop middle"],
  "-ment":   ["*PLT", "(.ment)(*:PS)",    "",    "standalone suffix stroke"],
  "-ness":   ["-PBS", "(.n)e(.ss)",       "",    "drop unstressed vowel"],
  ".xt":     ["-GT",  "[x|.g](.t)",       "",    "disambiguation from `kets`"],

  # vowels (mainly for disambiguation)
  "o~":    ["AU",     "o",      "SPEC",  "alternative vowel combo for `o` when used in prefix"],
  "~ou":   ["OU",     "ou",     "SPEC",  "alternative vowel combo for `ou` when used in suffix"],

  # full board
  "con-":  ["KAUPB",  "(c.)(o~)(.n)",    "",     "standalone prefix stroke"],
  "for-":  ["TPAUR",  "(f.)(o~)(.r)",    "",     "standalone prefix stroke"],
  "of.":   ["AUF",    "(o~)(.f)",        "",     "prefix with alternate vowels"],
  "off-":  ["AUF",    "(o~)(.ff)",       "",     "standalone prefix stroke"],
  "over-": ["AUFR",   "(o~)(.v)e(.r)",   "",     "standalone prefix stroke"],
  "under-":["UPBD",   "(u)(.n)(.d)er",   "",     "standalone prefix stroke"],
  "-er":   ["*ER",    "(e)(.r)(*:PS)",   "",     "standalone suffix stroke"],
  "-or":   ["O*R",    "(o)(.r)(*:PS)",   "",     "standalone suffix stroke"],
  "-ous":  ["OUS",    "(~ou)(.s)",       "",     "standalone suffix stroke"],

  ".e~":   ["KWR",    "[e|y.]",          "SPEC", "phonetic `y`"],
  ".ea":   ["KWRA",   "(.e~)(a)",        "",     "left side `y` connects strokes"],
  ".eo":   ["KWRO",   "(.e~)(o)",        "",     "left side `y` connects strokes"],

  ".i~":   ["KWR",    "[i|y.]",          "SPEC", "phonetic `y`"],
  ".ia":   ["KWRA",   "(.i~)(a)",        "",     "left side `y` connects strokes"],
  ".iA":   ["KWRAEU", "(.i~)(A)",        "",     "left side `y` connects strokes"],
  "-ia":   ["KWRA*",  "(.ia)(*:PS)",     "",     "standalone suffix stroke"],
  "-ial":  ["KWRAL",  "(.ia)(.l)",       "",     "standalone suffix stroke"],
  "-ian":  ["KWRAPB", "(.ia)(.n)",       "",     "standalone suffix stroke"],
  ".iary": ["KWRAER", "(.i~)(-ary)",     "",     "standalone suffix stroke"],
  ".ie":   ["KWRE",   "(.i~)(e)",        "",     "left side `y` connects strokes"],
  "-ier":  ["KWRER",  "(.ie)(.r)",       "",     "standalone suffix stroke"],
  ".io":   ["KWRO",   "(.i~)(o)",        "",     "left side `y` connects strokes"],
  ".iO":   ["KWROE",  "(.i~)(O)",        "",     "left side `y` connects strokes"],
  "-io":   ["KWRO*E", "(.iO)(*:PS)",     "",     "standalone suffix stroke"],
  "-ion":  ["KWROPB", "(.io)(.n)",       "",     "standalone suffix stroke"],
  "-ious": ["KWROUS", "(.i~)(-ous)",     "",     "standalone suffix stroke"],
  ".iu":   ["KWRU",   "(.i~)(u)",        "",     "left side `y` connects strokes"],

  ".u~":   ["W",      "[u|w.]",          "SPEC", "phonetic `w`"],
  ".ua":   ["WA",     "(.u~)(a)",        "",     "left side `w` connects strokes"],
  ".ua+":  ["WAEU",   "(.u~)(A)",        "",     "left side `w` connects strokes"],
  "-ual":  ["WAL",    "(.ua)(.l)",       "",     "standalone suffix stroke"],
  "-ually":["WAEL",   "(.u~)(-ally)",    "",     "standalone suffix stroke"],
  ".ui":   ["WEU",    "(.u~)(i)",        "",     "left side `w` connects strokes"],
  ".uo":   ["WO",     "(.u~)(o)",        "",     "left side `w` connects strokes"],
  "-uous": ["WOUS",   "(.u~)(-ous)",     "",     "standalone suffix stroke"],

  "y~":    ["KWR",    "",                "SPEC", "left side `y` blended into another vowel"],
  ".u":    ["KWRU",   "(y~)(u)",         "",     "blended `y` → `u` sound"],
  ".U":    ["KWRAOU", "(y~)(U)",         "",     "blended `y` → `u` sound"],
  "+ua":   ["KWRA",   "[u|y.](a)",       "",     "left side `y` connects strokes"],
  "-us":   ["KWRUS",  "(.u)(.s)",        "",     "standalone suffix stroke"]
}
