# Orthographic rules for various sounds in English text.

{
  # left bank
  "Ch.":    ["SH",       "(C.)(h.)",   ["RARE"], "`ch` as in `chandelier`"],
  "ce.":    ["SH",       "(ce|sh.)",   ["RARE"], "phonetic"],
  "ci.":    ["SH",       "(ci|sh.)",   ["RARE"], "phonetic"],
  "si.":    ["SH",       "(si|sh.)",   ["RARE"], "phonetic"],
  "ti.":    ["SH",       "(ti|sh.)",   ["RARE"], "phonetic"],
  "c.+":    ["KH",       "(c|ch.)",    ["RARE"], "phonetic"],
  "t.+":    ["KH",       "(t|ch.)",    ["RARE"], "phonetic"],

  "z.+":    ["S",        "(z|s.)",     [],       "phonetic"],
  "u.":     ["W",        "(u|w.)",     [],       "phonetic `w` onset"],
  "qu.":    ["KW",       "(q.)(u|w.)", [],       "phonetic"],
  "ph.":    ["TP",       "(ph|f.)",    [],       "`ph`onetic"],

  "bb.":    ["PW",       "(bb|b.)",    [],       "doubled consonant"],
  "cc.":    ["KP",       "(cc|x.)",    [],       "phonetic"],
  "dd.":    ["TK",       "(dd|d.)",    [],       "doubled consonant"],
  "ff.":    ["TP",       "(ff|f.)",    [],       "doubled consonant"],
  "gg.":    ["TKPW",     "(gg|g.)",    [],       "doubled consonant"],
  "ll.":    ["HR",       "(ll|l.)",    [],       "doubled consonant"],
  "mm.":    ["PH",       "(mm|m.)",    [],       "doubled consonant"],
  "nn.":    ["TPH",      "(nn|n.)",    [],       "doubled consonant"],
  "pp.":    ["P",        "(pp|p.)",    [],       "doubled consonant"],
  "rr.":    ["R",        "(rr|r.)",    [],       "doubled consonant"],
  "ss.":    ["S",        "(ss|s.)",    [],       "doubled consonant"],
  "tt.":    ["T",        "(tt|t.)",    [],       "doubled consonant"],
  "zz.":    ["S*",       "(zz|z.)",    [],       "doubled consonant"],

  # right bank
  ".c+":    ["-RB",  "(c|.sh)",        ["RARE"], "phonetic"],
  ".s*":    ["-RB",  "(s|.sh)",        ["RARE"], "phonetic"],
  ".t+":    ["-FP",  "(t|.ch)",        ["RARE"], "phonetic (TPHAFP/RAL → natural)"],
  ".nt.":   ["-FRPBLG","(nt|.nch+)",   ["RARE"], "phonetic"],
  ".nc":    ["*PBG", "(nc|.nk)",       ["RARE"], "phonetic"],
  ".gh":    ["-F",   "(gh|.f)",        [],       "phonetic (TUF → tough)"],
  ".ph":    ["-F",   "(ph|.f)",        [],       "`ph`onetic"],
  ".tz":    ["-TS",  "(.t)(z|.s)",     [],       "phonetic"],

  ".cean":  ["-GS",  "(cean|~shun)",   [],       "phonetic"],
  ".cian":  ["-GS",  "(cian|~shun)",   [],       "phonetic"],
  ".cion":  ["-GS",  "(cion|~shun)",   [],       "phonetic"],
  ".sian":  ["-GS",  "(sian|~shun)",   [],       "phonetic"],
  ".sion":  ["-GS",  "(sion|~shun)",   [],       "phonetic"],
  ".tian":  ["-GS",  "(tian|~shun)",   [],       "phonetic"],
  ".tion":  ["-GS",  "(tion|~shun)",   [],       "phonetic"],
  ".ction": ["-BGS", "(ction|~kshun)", [],       "phonetic"],
  ".ction+":["*BGS", "(ction|~kshun+)",[],       "phonetic"],
  ".cation":["-BGS", "(cation|~kshun)",[],       "phonetic"],
  ".xion":  ["-BGS", "(xion|~kshun)",  [],       "phonetic"],
  ".gion":  ["-GS",  "(gion|~gen)",    [],       "phonetic"],

  ".ck":    ["-BG",  "(ck|.k)",        [],       "combined consonant sounds"],
  ".dj":    ["-PBLG","(dj|.G)",        [],       "combined consonant sounds"],
  ".dg":    ["-PBLG","(dg|.G)",        [],       "combined consonant sounds"],
  ".sch":   ["-RB",  "(sch|.sh)",      [],       "combined consonant sounds"],
  ".tch":   ["-FP",  "(tch|.ch)",      [],       "combined consonant sounds"],

  ".bb":    ["-B",   "(bb|.b)",        [],       "doubled consonant"],
  ".cc":    ["-BG",  "(cc|.c)",        [],       "doubled consonant"],
  ".cc.":   ["-BGS", "(cc|.x)",        [],       "phonetic"],
  ".cc.+":  ["-FP",  "(cc|.ch)",       [],       "phonetic (Italian)"],
  ".dd":    ["-D",   "(dd|.d)",        [],       "doubled consonant"],
  ".ff":    ["-F",   "(ff|.f)",        [],       "doubled consonant"],
  ".gg":    ["-G",   "(gg|.g)",        [],       "doubled consonant"],
  ".ll":    ["-L",   "(ll|.l)",        [],       "doubled consonant"],
  ".mm":    ["-PL",  "(mm|.m)",        [],       "doubled consonant"],
  ".nn":    ["-PB",  "(nn|.n)",        [],       "doubled consonant"],
  ".pp":    ["-P",   "(pp|.p)",        [],       "doubled consonant"],
  ".rr":    ["-R",   "(rr|.r)",        [],       "doubled consonant"],
  ".ss":    ["-S",   "(ss|.s)",        [],       "doubled consonant"],
  ".ss.":   ["-F",   "(ss|.s.)",       [],       "doubled consonant"],
  ".ss.+":  ["-RB",  "(ss|.sh)",       [],       "phonetic (TPEURB/UR → fissure)"],
  ".tt":    ["-T",   "(tt|.t)",        [],       "doubled consonant"],
  ".zz":    ["-Z",   "(zz|.z)",        [],       "doubled consonant"],
  ".zz.":   ["-TS",  "(z|.t)(z|.s)",   [],       "phonetic (Italian)"],

  # vowels
  "Ai":  ["AEU",  "(ai|A)",  [],       "`ai` as in `fair`"],
  "Ay":  ["AEU",  "(ay|A)",  [],       "`ay` as in `stay`"],
  "e+":  ["AEU",  "(e|A)",   ["RARE"], "`e` as in `ballet`"],
  "ei":  ["AEU",  "(ei|A)",  [],       "`ei` as in `their`"],
  "ea":  ["E",    "(ea|e)",  [],       "`ea` as in `learn`"],
  "Ea":  ["AOE",  "(ea|E)",  [],       "`ea` as in `deal`"],
  "Ee":  ["AOE",  "(ee|E)",  [],       "`ee` as in `feel`"],
  "iE":  ["AOE",  "(ie|E)",  [],       "`ie` as in `thief` (PWHRAOEF → belief)"],
  "i+":  ["AOE",  "(i|E)",   ["RARE"], "`i` as in `fatigue` (SPWRAOEG → intrigue)"],
  "ui":  ["EU",   "(ui|i)",  [],       "`ui` as in `build`"],
  "y+":  ["AOEU", "(y|I)",   [],       "`y` as in `fly`"],
  "ae":  ["AOEU", "(ae|I)",  ["RARE"], "`ae` as in `plantae`"],
  "aI":  ["AOEU", "(ai|I)",  [],       "`ai` as in `haiku`"],
  "eI":  ["AOEU", "(ei|I)",  [],       "`ei` as in `heist`"],
  "Oa":  ["OE",   "(oa|O)",  [],       "`oa` as in `float`"],
  "Oe":  ["OE",   "(oe|O)",  [],       "`oe` as in `foe`"],
  "Ow":  ["OE",   "(ow|O)",  [],       "`ow` as in `own`"],
  "ou+": ["U",    "(ou|u)",  [],       "`ou` as in `trouble`"],
  "ew":  ["AOU",  "(ew|U)",  [],       "`ew` as in `lewd`"],
  "eU":  ["AOU",  "(eu|U)",  [],       "`eu` as in `maneuver`"],
  "Ue":  ["AOU",  "(ue|U)",  [],       "`ue` as in `fuel`"],
  "UU":  ["AOU",  "(uu|U)",  [],       "`uu` as in `vacuum`"],
  "o+":  ["AOU",  "(o|U)",   ["RARE"], "`o` as in `lose` (WAOUPL → womb)"],
  "aw":  ["AU",   "(aw|au)", [],       "`aw` as in `dawn`"],
  "a+":  ["AU",   "(a|au)",  ["RARE"], "`a` as in `all` (KAUL → call)"],
  "ow":  ["OU",   "(ow|ou)", [],       "`ow` as in `down`"],
  "oy":  ["OEU",  "(oy|oi)", [],       "`oy` as in `oyster`"],

  "eau": ["OE",   "(eau|O)", ["RARE"], "`eau` as in `tableau`"],

  # full board
  "e~":    ["KWR",      "(e|y.)",      ["SPEC"], "phonetic `y` onset; usually connects strokes."],
  "ea.":   ["KWRA",     "(e~)(a)",     [],       "KWR vowel combo"],
  "eo.":   ["KWRO",     "(e~)(o)",     [],       "KWR vowel combo"],
  "eO.":   ["KWROE",    "(e~)(O)",     [],       "KWR vowel combo"],

  "i~":    ["KWR",      "(i|y.)",      ["SPEC"], "phonetic `y` onset; usually connects strokes."],
  "ia.":   ["KWRA",     "(i~)(a)",     [],       "KWR vowel combo"],
  "iA.":   ["KWRAEU",   "(i~)(A)",     [],       "KWR vowel combo"],
  "ie.":   ["KWRE",     "(i~)(e)",     [],       "KWR vowel combo"],
  "io.":   ["KWRO",     "(i~)(o)",     [],       "KWR vowel combo"],
  "iO.":   ["KWROE",    "(i~)(O)",     [],       "KWR vowel combo"],
  "iu.":   ["KWRU",     "(i~)(u)",     [],       "KWR vowel combo"],

  "u~":    ["KWR",      "(u|y.)",      ["SPEC"], "phonetic `y` onset; usually connects strokes."],
  "ua.":   ["KWRA",     "(u~)(a)",     [],       "KWR vowel combo"],

  "s~":    ["SH",       "s",           ["SPEC"], "`sh` sound"],
  "su.":   ["SHU",      "(s~)(u)",     ["RARE"], "unique `sh` sound as in `sure` and `sugar`"],

  "wu~":   ["WU",       "(w.)(u)",     ["SPEC"], "`wu` sound"],
  "on.":   ["WUPB",     "(o|wu~)(.n)", ["RARE"], "unique `w` sound as in `one` and `once`"],

  "ge.":   ["SKWRE",    "(G.)(e)",     [],       "soft `g` onset is usually followed by `e` or `i`"],
  "gi.":   ["SKWRAOEU", "(G.)(I)",     [],       "soft `g` onset is usually followed by `e` or `i`"],

  "sion.": ["SHUPB", "(si.)(o|u)(.n)", [],       "left side 'SHUN' sound"],
  "tion.": ["SHUPB", "(ti.)(o|u)(.n)", [],       "left side 'SHUN' sound"]
}
