# Orthographic rules for English text with silent letters

{
  # left bank
  "ch.+": ["K",     "(c.)h",      [], "hard `c`, `h` is silent"],
  "chr.": ["KR",    "(ch.+)(r.)", [], "hard `chr` prefix"],
  "sch.": ["SH",    "(s.)c(h.)",  [], "soft `sch` prefix"],
  "sch.+":["SK",    "(s.)(ch.+)", [], "hard `sch` prefix"],
  "sc.":  ["SK",    "(s.)(c.)",   [], "also applies to soft `sc` words such as `science`"],

  "gh.":  ["TKPW",  "(g.)h",      [], "`h` is silent"],
  "gn.":  ["TPH",   "g(n.)",      [], "`g` is silent"],
  "kn.":  ["TPH",   "k(n.)",      [], "`k` is silent"],

  # right bank
  ".ch+": ["-BG",   "(.c)h",      [], "hard `c`, `h` is silent"],
  ".gn":  ["-PB",   "g(.n)",      [], "`g` is silent"],
  ".ght": ["-T",    "gh(.t)",     [], "`gh` is silent"],
  ".rve": ["-FRB",  "(.rv)e",     [], "`rv` coda must end with silent `e`"],
  ".ce":  ["-S",    "(.C)e",      [], "soft `c` coda must end with silent `e`"],
  ".ge":  ["-PBLG", "(.G)e",      [], "soft `g` coda must end with silent `e`"],
  ".dge": ["-PBLG", "(.dg)e",     [], "soft `g` coda must end with silent `e`"],
  ".nge": ["-PBG",  "(ng|.nj)e",  [], "soft `g` coda must end with silent `e`"],
  ".que": ["-BG",   "(.q)ue",     [], "`ue` is silent"],
  ".gue": ["-G",    "(.g)ue",     [], "`ue` is silent"],

  # full board
  "~av":    ["AF",  "(a)(.v)",    ["SPEC"], "use short vowel sound for v ending"],
  "~ev":    ["EF",  "(e)(.v)",    ["SPEC"], "use short vowel sound for v ending"],
  "~iv":    ["EUF", "(i)(.v)",    ["SPEC"], "use short vowel sound for v ending"],
  "~ov":    ["OF",  "(o)(.v)",    ["SPEC"], "use short vowel sound for v ending"],
  "~uv":    ["UF",  "(u)(.v)",    ["SPEC"], "use short vowel sound for v ending"],

  ".ave":   ["AF",  "(~av)e",     [],       "`v` coda must end with silent `e`"],
  ".eave":  ["EF",  "(eav|~ev)e", [],       "`v` coda must end with silent `e`"],
  ".ieve":  ["EF",  "(iev|~ev)e", [],       "`v` coda must end with silent `e`"],
  ".ive":   ["EUF", "(~iv)e",     [],       "`v` coda must end with silent `e`"],
  ".ove":   ["OF",  "(~ov)e",     [],       "`v` coda must end with silent `e`"],
  ".ove+":  ["UF",  "(ov|~uv)e",  [],       "`v` coda must end with silent `e`"],

  ".et":    ["AEU", "(e+)t",      [],       "`t` is silent"]
}
