# Folds and inversions

{
  # left bank
  "dis.":  ["STK",  "(d.)i(s.)",    ["INV"], "s/d inversion"],
  "des.":  ["STK",  "(d.)e(s.)",    ["INV"], "s/d inversion"],
  "dec.":  ["STK",  "(d.)e(C.)",    ["INV"], "c/d inversion"],
  "ins.":  ["STPH", "(in.)(s.)",    ["INV"], "s/n inversion (STPHERT → insert)"],
  "inc.":  ["STPH", "(in.)(C.)",    ["INV"], "c/n inversion"],
  "bes.":  ["SPW",  "(b.)e(s.)",    ["INV"], "s/b inversion"],
  "mis.":  ["SPH",  "(m.)i(s.)",    ["INV"], "s/m inversion"],

  # right bank
  ".rf":   ["-FR",  "(.r)(.f)",     ["INV"], "f/r inversion"],
  ".rph":  ["-FR",  "(.r)(.ph)",    ["INV"], "f/r inversion"],
  ".nf":   ["-FPB", "(.n)(.f)",     ["INV"], "f/n inversion"],
  ".nv":   ["-FPB", "(.n)(.v)",     ["INV"], "f/n inversion"],
  ".lf":   ["-FL",  "(.l)(.f)",     ["INV"], "f/l inversion"],
  ".lph":  ["-FL",  "(.l)(.ph)",    ["INV"], "f/l inversion"],
  ".lv":   ["-FL",  "(.l)(.v)",     ["INV"], "f/l inversion"],
  ".tl":   ["-LT",  "(.t)(.l)",     ["INV"], "l/t inversion"],
  ".tal":  ["-LT",  "(.t)a(.l)",    ["INV"], "l/t inversion"],
  ".tel":  ["-LT",  "(.t)e(.l)",    ["INV"], "l/t inversion"],
  ".pr":   ["-RP",  "(.p)(.r)",     ["INV"], "r/p inversion"],
  ".br":   ["-RB",  "(.b)(.r)",     ["INV"], "r/b inversion"],
  ".cr":   ["-RBG", "(.c)(.r)",     ["INV"], "r/c inversion"],
  ".kr":   ["-RBG", "(.k)(.r)",     ["INV"], "r/k inversion"],
  ".xtr":  ["-RBGS","(.x)t(.r)",    ["INV"], "r/x inversion"],
  ".gr":   ["-RG",  "(.g)(.r)",     ["INV"], "r/g inversion"],
  ".tr":   ["-RT",  "(.t)(.r)",     ["INV"], "r/t inversion"],
  ".dr":   ["-RD",  "(.d)(.r)",     ["INV"], "r/d inversion"],

  ".gly":  ["-LG",  "(.g)(.ly)",    ["INV"], "folded -ly"],
  ".tly":  ["-LT",  "(.t)(.ly)",    ["INV"], "folded -ly"],
  ".tely": ["-LT",  "(.t)e(.ly)",   ["INV"], "folded -ly"],
  ".sly":  ["-LS",  "(.s)(.ly)",    ["INV"], "folded -ly"],
  ".sely": ["-LS",  "(.s)e(.ly)",   ["INV"], "folded -ly"],
  ".cely": ["-LS",  "(.ce)(.ly)",   ["INV"], "folded -ly"],
  ".dly":  ["-LD",  "(.d)(.ly)",    ["INV"], "folded -ly"],
  ".mar":  ["-RPL", "(.m)a(.r)",    ["INV"], "folded -ar"],
  ".mer":  ["-RPL", "(.m)(.er)",    ["INV"], "folded -er"],
  ".ner":  ["-RPB", "(.n)(.er)",    ["INV"], "folded -er"],
  ".ber":  ["-RB",  "(.b)(.er)",    ["INV"], "folded -er"],
  ".ker":  ["-RBG", "(.k)(.er)",    ["INV"], "folded -er"],
  ".ler":  ["-RL",  "(.l)(.er)",    ["INV"], "folded -er"],
  ".ter":  ["-RT",  "(.t)(.er)",    ["INV"], "folded -er"],
  ".ser":  ["-RS",  "(.s)(.er)",    ["INV"], "folded -er"],
  ".cer":  ["-RS",  "(.C)(.er)",    ["INV"], "folded -er"],
  ".der":  ["-RD",  "(.d)(.er)",    ["INV"], "folded -er"],
  ".cher": ["-FRP", "(.ch)(.er)",   ["INV"], "folded -er"],
  ".ting": ["-GT",  "(.t)(.ing)",   ["INV"], "folded -ing"],
  ".sing": ["-GS",  "(.s)(.ing)",   ["INV"], "folded -ing"],
  ".ding": ["-GD",  "(.d)(.ing)",   ["INV"], "folded -ing"],

  # full board
  "~y":    ["E",    "(y|e)",        ["SPEC"],"E is usable as `y` in folds"],
  ".dy":   ["ED",   "(.d)(~y)",     ["INV"], "uses E as folded -y"],
  ".ddy":  ["ED",   "(.dd)(~y)",    ["INV"], "uses E as folded -y"],
  ".lly":  ["EL",   "(.ll)(~y)",    ["INV"], "uses E as folded -y"],
  ".ry":   ["ER",   "(.r)(~y)",     ["INV"], "uses E as folded -y"],
  ".ry+":  ["EUR",  "(.r)(y)",      ["INV"], "uses EU as folded -y"],
  ".rry":  ["ER",   "(.rr)(~y)",    ["INV"], "uses E as folded -y"]
}
