# Folds and inversions

{
  # left bank
  "dis.":  ["STK",  "(d.)i(s.)",  "INV", "s/d inversion"],
  "des.":  ["STK",  "(d.)e(s.)",  "INV", "s/d inversion"],
  "ins.":  ["STPH", "(in.)(s.)",  "INV", "s/n inversion", "STPHERT → insert"],

  # right bank
  ".rf":   ["-FR",  "(.r)(.f)",   "INV", "f/r inversion"],
  ".lf":   ["-FL",  "(.l)(.f)",   "INV", "f/l inversion"],
  ".lph":  ["-FL",  "(.l)(.ph)",  "INV", "f/l inversion"],
  ".tl":   ["-LT",  "(.t)(.l)",   "INV", "l/t inversion"],
  ".tal":  ["-LT",  "(.t)a(.l)",  "INV", "l/t inversion"],
  ".tel":  ["-LT",  "(.t)e(.l)",  "INV", "l/t inversion"],
  ".br":   ["-RB",  "(.b)(.r)",   "INV", "r/b inversion"],
  ".cr":   ["-RBG", "(.c)(.r)",   "INV", "r/c inversion"],
  ".dr":   ["-RD",  "(.d)(.r)",   "INV", "r/d inversion"],

  ".gly":  ["-LG",  "(.g)(.ly)",  "INV", "folded -ly"],
  ".tly":  ["-LT",  "(.t)(.ly)",  "INV", "folded -ly"],
  ".tely": ["-LT",  "(.t)e(.ly)", "INV", "folded -ly"],
  ".sly":  ["-LS",  "(.s)(.ly)",  "INV", "folded -ly"],
  ".sely": ["-LS",  "(.s)e(.ly)", "INV", "folded -ly"],
  ".cely": ["-LS",  "(.ce)(.ly)", "INV", "folded -ly"],
  ".dly":  ["-LD",  "(.d)(.ly)",  "INV", "folded -ly"],
  ".mar":  ["-RPL", "(.m)a(.r)",  "INV", "folded -ar"],
  ".mer":  ["-RPL", "(.m)(.er)",  "INV", "folded -er"],
  ".ner":  ["-RPB", "(.n)(.er)",  "INV", "folded -er"],
  ".ler":  ["-RL",  "(.l)(.er)",  "INV", "folded -er"],
  ".ter":  ["-RT",  "(.t)(.er)",  "INV", "folded -er"],
  ".ser":  ["-RS",  "(.s)(.er)",  "INV", "folded -er"],
  ".der":  ["-RD",  "(.d)(.er)",  "INV", "folded -er"],
  ".ting": ["-GT",  "(.t)(.ing)", "INV", "folded -ing"],
  ".sing": ["-GS",  "(.s)(.ing)", "INV", "folded -ing"],
  ".ding": ["-GD",  "(.d)(.ing)", "INV", "folded -ing"],

  # full board
  "~y":    ["E",    "[y|e]",        "SPEC","E is usable as `y` in folds"],
  ".ady":  ["AED",  "(a)(.d)(~y)",  "INV", "uses E as folded -y"],
  ".addy": ["AED",  "(a)(.dd)(~y)", "INV", "uses E as folded -y"],
  "-ally": ["AEL",  "(a)(.ll)(~y)", "INV", "uses E as folded -y"],
  "-ary":  ["AER",  "(a)(.r)(~y)",  "INV", "uses E as folded -y"],
  ".ary":  ["AEUR", "(a)(.r)(y)",   "INV", "uses EU as folded -y"],
  ".arry": ["AER",  "(a)(.rr)(~y)", "INV", "uses E as folded -y"],
  ".ory":  ["OER",  "(o)(.r)(~y)",  "INV", "uses E as folded -y"],
  ".ory+": ["OEUR", "(o)(.r)(y)",   "INV", "uses EU as folded -y"],
  ".orry": ["OER",  "(o)(.rr)(~y)", "INV", "uses E as folded -y"]
}
