# Rule patterns that drop unstressed letters

{
  # left bank
  "con.":   ["K",   "(c.)on",         [], "shortening of `con`; must not conflict with other words using K"],
  "cons.":  ["K",   "(con.)s",        [], "shortening of `cons`; must not conflict with other words using K"],
  "cont.":  ["K",   "(con.)t",        [], "shortening of `cont`; must not conflict with other words using K"],
  "com.":   ["K",   "(c.)om",         [], "shortening of `com`; must not conflict with other words using K (K-FRT → comfort)"],
  "comp.":  ["KP",  "(com.)(p.)",     [], "usually overrides `ex` in conflicts (KPABGT → compact)"],

  "rep.":   ["R",   "(r.)ep",         [], "drop `e` and consonant for common `re` words"],
  "ret.":   ["R",   "(r.)et",         [], "drop `e` and consonant for common `re` words"],

  # right bank
  ".cial":  ["-RBL","(c|.sh)ia(.l)",  [], "drop unstressed vowels"],
  ".sual":  ["-RBL","(s|.sh)ua(.l)",  [], "drop unstressed vowels"],
  ".tial":  ["-RBL","(t|.sh)ia(.l)",  [], "drop unstressed vowels"],
  ".cious": ["-RBS","(c|.sh)iou(.s)", [], "drop unstressed vowels"],
  ".sious": ["-RBS","(s|.sh)iou(.s)", [], "drop unstressed vowels"],
  ".tious": ["-RBS","(t|.sh)iou(.s)", [], "drop unstressed vowels"],

  # vowels
  "oth":    ["O",   "(o)th",          [], "drop middle `th` (PHOER → mother)"],

  # specific shortenings used in the most common words
  "some.":  ["S",   "some",           [], "prefix `some` in common compound words"],
  ".thing": ["-G",  "thing",          [], "suffix `thing` in common compound words"],
  ".ever":  ["-FR", "e(.v)e(.r)",     [], "suffix `ever` in common compound words"],
  ".body":  ["-B",  "body",           [], "suffix `body` in common compound words"],
  ".self":  ["*S",  "self",           [], "suffix `self` in common pronouns"]
}
