# Rules for letters that are split or slurred between multiple strokes

{
  "b/b":    ["-B/PW",      "(.b)(~/~)(|b.)",   ["LINK"], "consonant `b` split between strokes"],
  "c/c":    ["-BG/K",      "(.c)(~/~)(|c.)",   ["LINK"], "hard `c` split between strokes"],
  "C/C":    ["-S/S",       "(.C)(~/~)(|C.)",   ["LINK"], "soft `c` split between strokes"],
  "ch/ch":  ["-FP/KH",     "(.ch)(~/~)(|ch.)", ["LINK"], "`ch` split between strokes"],
  "d/d":    ["-D/TK",      "(.d)(~/~)(|d.)",   ["LINK"], "consonant `d` split between strokes"],
  "f/f":    ["-F/TP",      "(.f)(~/~)(|f.)",   ["LINK"], "consonant `f` split between strokes"],
  "g/g":    ["-G/TKPW",    "(.g)(~/~)(|g.)",   ["LINK"], "hard `g` split between strokes"],
  "G/G":    ["-PBLG/SKWR", "(.G)(~/~)(|G.)",   ["LINK"], "soft `g` split between strokes"],
  "j/j":    ["-PBLG/SKWR", "(.j)(~/~)(|j.)",   ["LINK"], "consonant `j` split between strokes"],
  "k/k":    ["-BG/K",      "(.k)(~/~)(|k.)",   ["LINK"], "consonant `k` split between strokes"],
  "l/l":    ["-L/HR",      "(.l)(~/~)(|l.)",   ["LINK"], "consonant `l` split between strokes"],
  "m/m":    ["-PL/PH",     "(.m)(~/~)(|m.)",   ["LINK"], "consonant `m` split between strokes"],
  "n/n":    ["-PB/TPH",    "(.n)(~/~)(|n.)",   ["LINK"], "consonant `n` split between strokes"],
  "p/p":    ["-P/P",       "(.p)(~/~)(|p.)",   ["LINK"], "consonant `p` split between strokes"],
  "q/qu":   ["-BG/KW",     "(|.q)(~/~)(qu.)",  ["LINK"], "`q` slurred into `u` in next stroke"],
  "r/r":    ["-R/R",       "(.r)(~/~)(|r.)",   ["LINK"], "consonant `r` split between strokes"],
  "s/s":    ["-S/S",       "(.s)(~/~)(|s.)",   ["LINK"], "consonant `s` split between strokes"],
  "s+/s":   ["-Z/S",       "(.s+)(~/~)(|s.)",  ["LINK"], "consonant `s` split between strokes"],
  "sh/sh":  ["-RB/SH",     "(.sh)(~/~)(|sh.)", ["LINK"], "`sh` split between strokes"],
  "t/t":    ["-T/T",       "(.t)(~/~)(|t.)",   ["LINK"], "consonant `t` split between strokes"],
  "th/th":  ["*T/TH",      "(.th)(~/~)(|th.)", ["LINK"], "`th` split between strokes"],
  "v/v":    ["-F/SR",      "(.v)(~/~)(|v.)",   ["LINK"], "consonant `v` split between strokes"],
  "xk/":    ["-BG/S",      "(x|.k)(~/~)(|s.)", ["LINK"], "`x` slurred into next stroke"],
  "xk/C":   ["-BG/S",      "(x|.k)(~/~)(C.)",  ["LINK"], "`x` slurred into `c` in next stroke"],
  "xk/s":   ["-BG/S",      "(x|.k)(~/~)(s.)",  ["LINK"], "`x` slurred into `s` in next stroke"],
  "x/s":    ["-BGS/S",     "(.x)(~/~)(|s.)",   ["LINK"], "consonant `x` split between strokes"],
  "x/x":    ["-BGS/KP",    "(.x)(~/~)(|x.)",   ["LINK"], "consonant `x` split between strokes"],
  "z/s":    ["-Z/S",       "(.z)(~/~)(|s.)",   ["LINK"], "consonant `z` split between strokes"],
  "z/z":    ["-Z/S*",      "(.z)(~/~)(|z.)",   ["LINK"], "consonant `z` split between strokes"],
  "zz+":    ["-T/S",       "(z|.t)(~/~)(z.+)", ["LINK"], "Italian `zz` split between strokes"]
}
