# Fingerspelling rules - each one must be found as a complete stroke
# by itself so that they don't get confused for other rules

{
  # special rules
  "q~": ["KW",  "q", "SPEC", "fingerspelling root for `q`"],
  "z~": ["STK", "z", "SPEC", "fingerspelling root for `z`"],

  # lowercase letters
  "a*": ["A*",     "(a)",  "STRK|*:FS", "fingerspelling: `a`"],
  "b*": ["PW*",    "(b.)", "STRK|*:FS", "fingerspelling: `b`"],
  "c*": ["KR*",    "(C.+)","STRK|*:FS", "fingerspelling: `c`"],
  "d*": ["TK*",    "(d.)", "STRK|*:FS", "fingerspelling: `d`"],
  "e*": ["*E",     "(e)",  "STRK|*:FS", "fingerspelling: `e`"],
  "f*": ["TP*",    "(f.)", "STRK|*:FS", "fingerspelling: `f`"],
  "g*": ["TKPW*",  "(g.)", "STRK|*:FS", "fingerspelling: `g`"],
  "h*": ["H*",     "(h.)", "STRK|*:FS", "fingerspelling: `h`"],
  "i*": ["*EU",    "(i)",  "STRK|*:FS", "fingerspelling: `i`"],
  "j*": ["SKWR*",  "(j.)", "STRK|*:FS", "fingerspelling: `j`"],
  "k*": ["K*",     "(k.)", "STRK|*:FS", "fingerspelling: `k`"],
  "l*": ["HR*",    "(l.)", "STRK|*:FS", "fingerspelling: `l`"],
  "m*": ["PH*",    "(m.)", "STRK|*:FS", "fingerspelling: `m`"],
  "n*": ["TPH*",   "(n.)", "STRK|*:FS", "fingerspelling: `n`"],
  "o*": ["O*",     "(o)",  "STRK|*:FS", "fingerspelling: `o`"],
  "p*": ["P*",     "(p.)", "STRK|*:FS", "fingerspelling: `p`"],
  "q*": ["KW*",    "(q~)", "STRK|*:FS", "fingerspelling: `q`"],
  "r*": ["R*",     "(r.)", "STRK|*:FS", "fingerspelling: `r`"],
  "s*": ["S*",     "(s.)", "STRK|*:FS", "fingerspelling: `s`"],
  "t*": ["T*",     "(t.)", "STRK|*:FS", "fingerspelling: `t`"],
  "u*": ["*U",     "(u)",  "STRK|*:FS", "fingerspelling: `u`"],
  "v*": ["SR*",    "(v.)", "STRK|*:FS", "fingerspelling: `v`"],
  "w*": ["W*",     "(w.)", "STRK|*:FS", "fingerspelling: `w`"],
  "x*": ["KP*",    "(x.)", "STRK|*:FS", "fingerspelling: `x`"],
  "y*": ["KWR*",   "(y.)", "STRK|*:FS", "fingerspelling: `y`"],
  "z*": ["STK*",   "(z~)", "STRK|*:FS", "fingerspelling: `z`"],

  # capital letters
  "A*": ["A*P",    "(a*)", "STRK|-P:FS", "fingerspelling: `A`"],
  "B*": ["PW*P",   "(b*)", "STRK|-P:FS", "fingerspelling: `B`"],
  "C*": ["KR*P",   "(c*)", "STRK|-P:FS", "fingerspelling: `C`"],
  "D*": ["TK*P",   "(d*)", "STRK|-P:FS", "fingerspelling: `D`"],
  "E*": ["*EP",    "(e*)", "STRK|-P:FS", "fingerspelling: `E`"],
  "F*": ["TP*P",   "(f*)", "STRK|-P:FS", "fingerspelling: `F`"],
  "G*": ["TKPW*P", "(g*)", "STRK|-P:FS", "fingerspelling: `G`"],
  "H*": ["H*P",    "(h*)", "STRK|-P:FS", "fingerspelling: `H`"],
  "I*": ["*EUP",   "(i*)", "STRK|-P:FS", "fingerspelling: `I`"],
  "J*": ["SKWR*P", "(j*)", "STRK|-P:FS", "fingerspelling: `J`"],
  "K*": ["K*P",    "(k*)", "STRK|-P:FS", "fingerspelling: `K`"],
  "L*": ["HR*P",   "(l*)", "STRK|-P:FS", "fingerspelling: `L`"],
  "M*": ["PH*P",   "(m*)", "STRK|-P:FS", "fingerspelling: `M`"],
  "N*": ["TPH*P",  "(n*)", "STRK|-P:FS", "fingerspelling: `N`"],
  "O*": ["O*P",    "(o*)", "STRK|-P:FS", "fingerspelling: `O`"],
  "P*": ["P*P",    "(p*)", "STRK|-P:FS", "fingerspelling: `P`"],
  "Q*": ["KW*P",   "(q*)", "STRK|-P:FS", "fingerspelling: `Q`"],
  "R*": ["R*P",    "(r*)", "STRK|-P:FS", "fingerspelling: `R`"],
  "S*": ["S*P",    "(s*)", "STRK|-P:FS", "fingerspelling: `S`"],
  "T*": ["T*P",    "(t*)", "STRK|-P:FS", "fingerspelling: `T`"],
  "U*": ["*UP",    "(u*)", "STRK|-P:FS", "fingerspelling: `U`"],
  "V*": ["SR*P",   "(v*)", "STRK|-P:FS", "fingerspelling: `V`"],
  "W*": ["W*P",    "(w*)", "STRK|-P:FS", "fingerspelling: `W`"],
  "X*": ["KP*P",   "(x*)", "STRK|-P:FS", "fingerspelling: `X`"],
  "Y*": ["KWR*P",  "(y*)", "STRK|-P:FS", "fingerspelling: `Y`"],
  "Z*": ["STK*P",  "(z*)", "STRK|-P:FS", "fingerspelling: `Z`"]
}
