# Fingerspelling rules - each one must be found as a complete stroke
# by itself so that they don't get confused for other rules

{
  # special rules
  "q~": ["KW",  "q", "SPEC", "fingerspelling root for `q`"],
  "z~": ["STK", "z", "SPEC", "fingerspelling root for `z`"],

  # lowercase letters
  "a*": ["A*",     "(a)(*:FS)",   "STRK", "fingerspelling: `a`"],
  "b*": ["PW*",    "(b.)(*:FS)",  "STRK", "fingerspelling: `b`"],
  "c*": ["KR*",    "(C.+)(*:FS)", "STRK", "fingerspelling: `c`"],
  "d*": ["TK*",    "(d.)(*:FS)",  "STRK", "fingerspelling: `d`"],
  "e*": ["*E",     "(e)(*:FS)",   "STRK", "fingerspelling: `e`"],
  "f*": ["TP*",    "(f.)(*:FS)",  "STRK", "fingerspelling: `f`"],
  "g*": ["TKPW*",  "(g.)(*:FS)",  "STRK", "fingerspelling: `g`"],
  "h*": ["H*",     "(h.)(*:FS)",  "STRK", "fingerspelling: `h`"],
  "i*": ["*EU",    "(i)(*:FS)",   "STRK", "fingerspelling: `i`"],
  "j*": ["SKWR*",  "(j.)(*:FS)",  "STRK", "fingerspelling: `j`"],
  "k*": ["K*",     "(k.)(*:FS)",  "STRK", "fingerspelling: `k`"],
  "l*": ["HR*",    "(l.)(*:FS)",  "STRK", "fingerspelling: `l`"],
  "m*": ["PH*",    "(m.)(*:FS)",  "STRK", "fingerspelling: `m`"],
  "n*": ["TPH*",   "(n.)(*:FS)",  "STRK", "fingerspelling: `n`"],
  "o*": ["O*",     "(o)(*:FS)",   "STRK", "fingerspelling: `o`"],
  "p*": ["P*",     "(p.)(*:FS)",  "STRK", "fingerspelling: `p`"],
  "q*": ["KW*",    "(q~)(*:FS)",  "STRK", "fingerspelling: `q`"],
  "r*": ["R*",     "(r.)(*:FS)",  "STRK", "fingerspelling: `r`"],
  "s*": ["S*",     "(s.)(*:FS)",  "STRK", "fingerspelling: `s`"],
  "t*": ["T*",     "(t.)(*:FS)",  "STRK", "fingerspelling: `t`"],
  "u*": ["*U",     "(u)(*:FS)",   "STRK", "fingerspelling: `u`"],
  "v*": ["SR*",    "(v.)(*:FS)",  "STRK", "fingerspelling: `v`"],
  "w*": ["W*",     "(w.)(*:FS)",  "STRK", "fingerspelling: `w`"],
  "x*": ["KP*",    "(x.)(*:FS)",  "STRK", "fingerspelling: `x`"],
  "y*": ["KWR*",   "(y.)(*:FS)",  "STRK", "fingerspelling: `y`"],
  "z*": ["STK*",   "(z~)(*:FS)",  "STRK", "fingerspelling: `z`"],

  # capital letters
  "A*": ["A*P",    "(a*)(-P:FS)", "STRK", "fingerspelling: `A`"],
  "B*": ["PW*P",   "(b*)(-P:FS)", "STRK", "fingerspelling: `B`"],
  "C*": ["KR*P",   "(c*)(-P:FS)", "STRK", "fingerspelling: `C`"],
  "D*": ["TK*P",   "(d*)(-P:FS)", "STRK", "fingerspelling: `D`"],
  "E*": ["*EP",    "(e*)(-P:FS)", "STRK", "fingerspelling: `E`"],
  "F*": ["TP*P",   "(f*)(-P:FS)", "STRK", "fingerspelling: `F`"],
  "G*": ["TKPW*P", "(g*)(-P:FS)", "STRK", "fingerspelling: `G`"],
  "H*": ["H*P",    "(h*)(-P:FS)", "STRK", "fingerspelling: `H`"],
  "I*": ["*EUP",   "(i*)(-P:FS)", "STRK", "fingerspelling: `I`"],
  "J*": ["SKWR*P", "(j*)(-P:FS)", "STRK", "fingerspelling: `J`"],
  "K*": ["K*P",    "(k*)(-P:FS)", "STRK", "fingerspelling: `K`"],
  "L*": ["HR*P",   "(l*)(-P:FS)", "STRK", "fingerspelling: `L`"],
  "M*": ["PH*P",   "(m*)(-P:FS)", "STRK", "fingerspelling: `M`"],
  "N*": ["TPH*P",  "(n*)(-P:FS)", "STRK", "fingerspelling: `N`"],
  "O*": ["O*P",    "(o*)(-P:FS)", "STRK", "fingerspelling: `O`"],
  "P*": ["P*P",    "(p*)(-P:FS)", "STRK", "fingerspelling: `P`"],
  "Q*": ["KW*P",   "(q*)(-P:FS)", "STRK", "fingerspelling: `Q`"],
  "R*": ["R*P",    "(r*)(-P:FS)", "STRK", "fingerspelling: `R`"],
  "S*": ["S*P",    "(s*)(-P:FS)", "STRK", "fingerspelling: `S`"],
  "T*": ["T*P",    "(t*)(-P:FS)", "STRK", "fingerspelling: `T`"],
  "U*": ["*UP",    "(u*)(-P:FS)", "STRK", "fingerspelling: `U`"],
  "V*": ["SR*P",   "(v*)(-P:FS)", "STRK", "fingerspelling: `V`"],
  "W*": ["W*P",    "(w*)(-P:FS)", "STRK", "fingerspelling: `W`"],
  "X*": ["KP*P",   "(x*)(-P:FS)", "STRK", "fingerspelling: `X`"],
  "Y*": ["KWR*P",  "(y*)(-P:FS)", "STRK", "fingerspelling: `Y`"],
  "Z*": ["STK*P",  "(z*)(-P:FS)", "STRK", "fingerspelling: `Z`"]
}
