# Fingerspelling rules - each one must be found as a complete stroke
# by itself so that they don't get confused for other rules

{
  # special rules
  "~*FS":   ["*",   "",  ["SPEC"], "use with left-side keys and vowels for fingerspelling"],
  "~upper": ["-P",  "",  ["SPEC"], "use to capitalize fingerspelled letters"],
  "q~":     ["KW",  "q", ["SPEC"], "fingerspelling root for `q`"],
  "z~":     ["STK", "z", ["SPEC"], "fingerspelling root for `z`"],

  # lowercase letters
  "a*": ["A*",     "(a)(~*FS)",   ["STRK"], "fingerspelling: `a`"],
  "b*": ["PW*",    "(b.)(~*FS)",  ["STRK"], "fingerspelling: `b`"],
  "c*": ["KR*",    "(C.+)(~*FS)", ["STRK"], "fingerspelling: `c`"],
  "d*": ["TK*",    "(d.)(~*FS)",  ["STRK"], "fingerspelling: `d`"],
  "e*": ["*E",     "(e)(~*FS)",   ["STRK"], "fingerspelling: `e`"],
  "f*": ["TP*",    "(f.)(~*FS)",  ["STRK"], "fingerspelling: `f`"],
  "g*": ["TKPW*",  "(g.)(~*FS)",  ["STRK"], "fingerspelling: `g`"],
  "h*": ["H*",     "(h.)(~*FS)",  ["STRK"], "fingerspelling: `h`"],
  "i*": ["*EU",    "(i)(~*FS)",   ["STRK"], "fingerspelling: `i`"],
  "j*": ["SKWR*",  "(j.)(~*FS)",  ["STRK"], "fingerspelling: `j`"],
  "k*": ["K*",     "(k.)(~*FS)",  ["STRK"], "fingerspelling: `k`"],
  "l*": ["HR*",    "(l.)(~*FS)",  ["STRK"], "fingerspelling: `l`"],
  "m*": ["PH*",    "(m.)(~*FS)",  ["STRK"], "fingerspelling: `m`"],
  "n*": ["TPH*",   "(n.)(~*FS)",  ["STRK"], "fingerspelling: `n`"],
  "o*": ["O*",     "(o)(~*FS)",   ["STRK"], "fingerspelling: `o`"],
  "p*": ["P*",     "(p.)(~*FS)",  ["STRK"], "fingerspelling: `p`"],
  "q*": ["KW*",    "(q~)(~*FS)",  ["STRK"], "fingerspelling: `q`"],
  "r*": ["R*",     "(r.)(~*FS)",  ["STRK"], "fingerspelling: `r`"],
  "s*": ["S*",     "(s.)(~*FS)",  ["STRK"], "fingerspelling: `s`"],
  "t*": ["T*",     "(t.)(~*FS)",  ["STRK"], "fingerspelling: `t`"],
  "u*": ["*U",     "(u)(~*FS)",   ["STRK"], "fingerspelling: `u`"],
  "v*": ["SR*",    "(v.)(~*FS)",  ["STRK"], "fingerspelling: `v`"],
  "w*": ["W*",     "(w.)(~*FS)",  ["STRK"], "fingerspelling: `w`"],
  "x*": ["KP*",    "(x.)(~*FS)",  ["STRK"], "fingerspelling: `x`"],
  "y*": ["KWR*",   "(y.)(~*FS)",  ["STRK"], "fingerspelling: `y`"],
  "z*": ["STK*",   "(z~)(~*FS)",  ["STRK"], "fingerspelling: `z`"],

  # capital letters
  "A*": ["A*P",    "(a*)(~upper)", ["STRK"], "fingerspelling: `A`"],
  "B*": ["PW*P",   "(b*)(~upper)", ["STRK"], "fingerspelling: `B`"],
  "C*": ["KR*P",   "(c*)(~upper)", ["STRK"], "fingerspelling: `C`"],
  "D*": ["TK*P",   "(d*)(~upper)", ["STRK"], "fingerspelling: `D`"],
  "E*": ["*EP",    "(e*)(~upper)", ["STRK"], "fingerspelling: `E`"],
  "F*": ["TP*P",   "(f*)(~upper)", ["STRK"], "fingerspelling: `F`"],
  "G*": ["TKPW*P", "(g*)(~upper)", ["STRK"], "fingerspelling: `G`"],
  "H*": ["H*P",    "(h*)(~upper)", ["STRK"], "fingerspelling: `H`"],
  "I*": ["*EUP",   "(i*)(~upper)", ["STRK"], "fingerspelling: `I`"],
  "J*": ["SKWR*P", "(j*)(~upper)", ["STRK"], "fingerspelling: `J`"],
  "K*": ["K*P",    "(k*)(~upper)", ["STRK"], "fingerspelling: `K`"],
  "L*": ["HR*P",   "(l*)(~upper)", ["STRK"], "fingerspelling: `L`"],
  "M*": ["PH*P",   "(m*)(~upper)", ["STRK"], "fingerspelling: `M`"],
  "N*": ["TPH*P",  "(n*)(~upper)", ["STRK"], "fingerspelling: `N`"],
  "O*": ["O*P",    "(o*)(~upper)", ["STRK"], "fingerspelling: `O`"],
  "P*": ["P*P",    "(p*)(~upper)", ["STRK"], "fingerspelling: `P`"],
  "Q*": ["KW*P",   "(q*)(~upper)", ["STRK"], "fingerspelling: `Q`"],
  "R*": ["R*P",    "(r*)(~upper)", ["STRK"], "fingerspelling: `R`"],
  "S*": ["S*P",    "(s*)(~upper)", ["STRK"], "fingerspelling: `S`"],
  "T*": ["T*P",    "(t*)(~upper)", ["STRK"], "fingerspelling: `T`"],
  "U*": ["*UP",    "(u*)(~upper)", ["STRK"], "fingerspelling: `U`"],
  "V*": ["SR*P",   "(v*)(~upper)", ["STRK"], "fingerspelling: `V`"],
  "W*": ["W*P",    "(w*)(~upper)", ["STRK"], "fingerspelling: `W`"],
  "X*": ["KP*P",   "(x*)(~upper)", ["STRK"], "fingerspelling: `X`"],
  "Y*": ["KWR*P",  "(y*)(~upper)", ["STRK"], "fingerspelling: `Y`"],
  "Z*": ["STK*P",  "(z*)(~upper)", ["STRK"], "fingerspelling: `Z`"]
}
