# Number rules - since each of these is either special or prefixed with the
# number sign, even a large number of them should not hurt lexer performance.

{
  # special rules
  "~1":  ["S",  "1", ["SPEC"], "1"],
  "~2":  ["T",  "2", ["SPEC"], "2"],
  "~3":  ["P",  "3", ["SPEC"], "3"],
  "~4":  ["H",  "4", ["SPEC"], "4"],
  "~5":  ["A",  "5", ["SPEC"], "5"],
  "~0":  ["O",  "0", ["SPEC"], "0"],
  "~6":  ["-F", "6", ["SPEC"], "6"],
  "~7":  ["-P", "7", ["SPEC"], "7"],
  "~8":  ["-L", "8", ["SPEC"], "8"],
  "~9":  ["-T", "9", ["SPEC"], "9"],
  "~#":  ["#",  "",  ["SPEC"], "shifts to number mode"],
  "~##": ["-D", "",  ["SPEC"], "repeats a digit"],
  "~#I": ["EU", "",  ["SPEC"], "inverts the order of two digits"],
  "~00": ["-Z", "00",["SPEC"], "adds two zeroes"],

  # single digits
  "1": ["#S",  "(~1)(~#)", [], "number 1"],
  "2": ["#T",  "(~2)(~#)", [], "number 2"],
  "3": ["#P",  "(~3)(~#)", [], "number 3"],
  "4": ["#H",  "(~4)(~#)", [], "number 4"],
  "5": ["#A",  "(~5)(~#)", [], "number 5"],
  "0": ["#O",  "(~0)(~#)", [], "number 0"],
  "6": ["#-F", "(~6)(~#)", [], "number 6"],
  "7": ["#-P", "(~7)(~#)", [], "number 7"],
  "8": ["#-L", "(~8)(~#)", [], "number 8"],
  "9": ["#-T", "(~9)(~#)", [], "number 9"],

  # double digits distinct
  "12": ["#ST",  "(~1)(~2)(~#)", [], "number 12"],
  "13": ["#SP",  "(~1)(~3)(~#)", [], "number 13"],
  "14": ["#SH",  "(~1)(~4)(~#)", [], "number 14"],
  "15": ["#SA",  "(~1)(~5)(~#)", [], "number 15"],
  "10": ["#SO",  "(~1)(~0)(~#)", [], "number 10"],
  "16": ["#S-F", "(~1)(~6)(~#)", [], "number 16"],
  "17": ["#S-P", "(~1)(~7)(~#)", [], "number 17"],
  "18": ["#S-L", "(~1)(~8)(~#)", [], "number 18"],
  "19": ["#S-T", "(~1)(~9)(~#)", [], "number 19"],
  "23": ["#TP",  "(~2)(~3)(~#)", [], "number 23"],
  "24": ["#TH",  "(~2)(~4)(~#)", [], "number 24"],
  "25": ["#TA",  "(~2)(~5)(~#)", [], "number 25"],
  "20": ["#TO",  "(~2)(~0)(~#)", [], "number 20"],
  "26": ["#T-F", "(~2)(~6)(~#)", [], "number 26"],
  "27": ["#T-P", "(~2)(~7)(~#)", [], "number 27"],
  "28": ["#T-L", "(~2)(~8)(~#)", [], "number 28"],
  "29": ["#T-T", "(~2)(~9)(~#)", [], "number 29"],
  "34": ["#PH",  "(~3)(~4)(~#)", [], "number 34"],
  "35": ["#PA",  "(~3)(~5)(~#)", [], "number 35"],
  "30": ["#PO",  "(~3)(~0)(~#)", [], "number 30"],
  "36": ["#P-F", "(~3)(~6)(~#)", [], "number 36"],
  "37": ["#P-P", "(~3)(~7)(~#)", [], "number 37"],
  "38": ["#P-L", "(~3)(~8)(~#)", [], "number 38"],
  "39": ["#P-T", "(~3)(~9)(~#)", [], "number 39"],
  "45": ["#HA",  "(~4)(~5)(~#)", [], "number 45"],
  "40": ["#HO",  "(~4)(~0)(~#)", [], "number 40"],
  "46": ["#H-F", "(~4)(~6)(~#)", [], "number 46"],
  "47": ["#H-P", "(~4)(~7)(~#)", [], "number 47"],
  "48": ["#H-L", "(~4)(~8)(~#)", [], "number 48"],
  "49": ["#H-T", "(~4)(~9)(~#)", [], "number 49"],
  "50": ["#AO",  "(~5)(~0)(~#)", [], "number 50"],
  "56": ["#AF",  "(~5)(~6)(~#)", [], "number 56"],
  "57": ["#AP",  "(~5)(~7)(~#)", [], "number 57"],
  "58": ["#AL",  "(~5)(~8)(~#)", [], "number 58"],
  "59": ["#AT",  "(~5)(~9)(~#)", [], "number 59"],
  "67": ["#-FP", "(~6)(~7)(~#)", [], "number 67"],
  "68": ["#-FL", "(~6)(~8)(~#)", [], "number 68"],
  "69": ["#-FT", "(~6)(~9)(~#)", [], "number 69"],
  "78": ["#-PL", "(~7)(~8)(~#)", [], "number 78"],
  "79": ["#-PT", "(~7)(~9)(~#)", [], "number 79"],
  "89": ["#-LT", "(~8)(~9)(~#)", [], "number 89"],

  # double digits repeated
  "11": ["#S-D", "(~1)(1|~##)(~#)", [], "number 11"],
  "22": ["#T-D", "(~2)(2|~##)(~#)", [], "number 22"],
  "33": ["#P-D", "(~3)(3|~##)(~#)", [], "number 33"],
  "44": ["#H-D", "(~4)(4|~##)(~#)", [], "number 44"],
  "55": ["#AD",  "(~5)(5|~##)(~#)", [], "number 55"],
  "66": ["#-FD", "(~6)(6|~##)(~#)", [], "number 66"],
  "77": ["#-PD", "(~7)(7|~##)(~#)", [], "number 77"],
  "88": ["#-LD", "(~8)(8|~##)(~#)", [], "number 88"],
  "99": ["#-TD", "(~9)(9|~##)(~#)", [], "number 99"],

  # double digits inverted
  "21": ["#STEU", "(~2)(~1)(~#I)(~#)", ["INV"], "number 21"],
  "31": ["#SPEU", "(~3)(~1)(~#I)(~#)", ["INV"], "number 31"],
  "32": ["#TPEU", "(~3)(~2)(~#I)(~#)", ["INV"], "number 32"],
  "41": ["#SHEU", "(~4)(~1)(~#I)(~#)", ["INV"], "number 41"],
  "42": ["#THEU", "(~4)(~2)(~#I)(~#)", ["INV"], "number 42"],
  "43": ["#PHEU", "(~4)(~3)(~#I)(~#)", ["INV"], "number 43"],
  "51": ["#SAEU", "(~5)(~1)(~#I)(~#)", ["INV"], "number 51"],
  "52": ["#TAEU", "(~5)(~2)(~#I)(~#)", ["INV"], "number 52"],
  "53": ["#PAEU", "(~5)(~3)(~#I)(~#)", ["INV"], "number 53"],
  "54": ["#HAEU", "(~5)(~4)(~#I)(~#)", ["INV"], "number 54"],
  "61": ["#SEUF", "(~6)(~1)(~#I)(~#)", ["INV"], "number 61"],
  "62": ["#TEUF", "(~6)(~2)(~#I)(~#)", ["INV"], "number 62"],
  "63": ["#PEUF", "(~6)(~3)(~#I)(~#)", ["INV"], "number 63"],
  "64": ["#HEUF", "(~6)(~4)(~#I)(~#)", ["INV"], "number 64"],
  "65": ["#AEUF", "(~6)(~5)(~#I)(~#)", ["INV"], "number 65"],
  "60": ["#OEUF", "(~6)(~0)(~#I)(~#)", ["INV"], "number 60"],
  "71": ["#SEUP", "(~7)(~1)(~#I)(~#)", ["INV"], "number 71"],
  "72": ["#TEUP", "(~7)(~2)(~#I)(~#)", ["INV"], "number 72"],
  "73": ["#PEUP", "(~7)(~3)(~#I)(~#)", ["INV"], "number 73"],
  "74": ["#HEUP", "(~7)(~4)(~#I)(~#)", ["INV"], "number 74"],
  "75": ["#AEUP", "(~7)(~5)(~#I)(~#)", ["INV"], "number 75"],
  "70": ["#OEUP", "(~7)(~0)(~#I)(~#)", ["INV"], "number 70"],
  "76": ["#EUFP", "(~7)(~6)(~#I)(~#)", ["INV"], "number 76"],
  "81": ["#SEUL", "(~8)(~1)(~#I)(~#)", ["INV"], "number 81"],
  "82": ["#TEUL", "(~8)(~2)(~#I)(~#)", ["INV"], "number 82"],
  "83": ["#PEUL", "(~8)(~3)(~#I)(~#)", ["INV"], "number 83"],
  "84": ["#HEUL", "(~8)(~4)(~#I)(~#)", ["INV"], "number 84"],
  "85": ["#AEUL", "(~8)(~5)(~#I)(~#)", ["INV"], "number 85"],
  "80": ["#OEUL", "(~8)(~0)(~#I)(~#)", ["INV"], "number 80"],
  "86": ["#EUFL", "(~8)(~6)(~#I)(~#)", ["INV"], "number 86"],
  "87": ["#EUPL", "(~8)(~7)(~#I)(~#)", ["INV"], "number 87"],
  "91": ["#SEUT", "(~9)(~1)(~#I)(~#)", ["INV"], "number 91"],
  "92": ["#TEUT", "(~9)(~2)(~#I)(~#)", ["INV"], "number 92"],
  "93": ["#PEUT", "(~9)(~3)(~#I)(~#)", ["INV"], "number 93"],
  "94": ["#HEUT", "(~9)(~4)(~#I)(~#)", ["INV"], "number 94"],
  "95": ["#AEUT", "(~9)(~5)(~#I)(~#)", ["INV"], "number 95"],
  "90": ["#OEUT", "(~9)(~0)(~#I)(~#)", ["INV"], "number 90"],
  "96": ["#EUFT", "(~9)(~6)(~#I)(~#)", ["INV"], "number 96"],
  "97": ["#EUPT", "(~9)(~7)(~#I)(~#)", ["INV"], "number 97"],
  "98": ["#EULT", "(~9)(~8)(~#I)(~#)", ["INV"], "number 98"],

  # hundreds
  "100": ["#S-Z", "(~1)(~00)(~#)", [], "number 100"],
  "200": ["#T-Z", "(~2)(~00)(~#)", [], "number 200"],
  "300": ["#P-Z", "(~3)(~00)(~#)", [], "number 300"],
  "400": ["#H-Z", "(~4)(~00)(~#)", [], "number 400"],
  "500": ["#AZ",  "(~5)(~00)(~#)", [], "number 500"],
  "600": ["#-FZ", "(~6)(~00)(~#)", [], "number 600"],
  "700": ["#-PZ", "(~7)(~00)(~#)", [], "number 700"],
  "800": ["#-LZ", "(~8)(~00)(~#)", [], "number 800"],
  "900": ["#-TZ", "(~9)(~00)(~#)", [], "number 900"],

  # fractions
  "1/2": ["#STOEU", "(~1)(/)(~2)(~#)", [], "fraction - 1/2"],
  "1/3": ["#SPOEU", "(~1)(/)(~3)(~#)", [], "fraction - 1/3"],
  "1/4": ["#SHOEU", "(~1)(/)(~4)(~#)", [], "fraction - 1/4"],
  "1/5": ["#SAOEU", "(~1)(/)(~5)(~#)", [], "fraction - 1/5"],
  "1/6": ["#SOEUF", "(~1)(/)(~6)(~#)", [], "fraction - 1/6"],
  "1/7": ["#SOEUP", "(~1)(/)(~7)(~#)", [], "fraction - 1/7"],
  "1/8": ["#SOEUL", "(~1)(/)(~8)(~#)", [], "fraction - 1/8"],
  "1/9": ["#SOEUT", "(~1)(/)(~9)(~#)", [], "fraction - 1/9"],
  "2/3": ["#TPOEU", "(~2)(/)(~3)(~#)", [], "fraction - 2/3"],
  "3/4": ["#PHOEU", "(~3)(/)(~4)(~#)", [], "fraction - 3/4"],
  "4/5": ["#HAOEU", "(~4)(/)(~5)(~#)", [], "fraction - 4/5"],
  "5/6": ["#AOEUF", "(~5)(/)(~6)(~#)", [], "fraction - 5/6"],
  "6/7": ["#OEUFP", "(~6)(/)(~7)(~#)", [], "fraction - 6/7"],
  "7/8": ["#OEUPL", "(~7)(/)(~8)(~#)", [], "fraction - 7/8"],
  "8/9": ["#OEULT", "(~8)(/)(~9)(~#)", [], "fraction - 8/9"],

  # time
  ":00": ["-BG", ":00", [], "use to produce a time (o' clock)"]
}
