# Rules that actively involve symbols. A full translation still must include at least one alphanumeric character.

{
  "'":   ["AE",     "'",       [],       "' (single quote)"],
  "-'s": ["AES",    "(')(.s)", ["STRK"], "possessive suffix `'s`"],
  "+":   ["PHR*US", "+",       ["STRK"], "+ (plus sign)"],
  "=":   ["KWA*LS", "=",       ["STRK"], "= (equals sign)"],
  "*":   ["STA*R",  "*",       ["STRK"], "* (asterisk)"],
  ".":   ["-FPLT",  ".",       [],       ". (period)"],
  ",":   ["-RBGS",  ",",       [],       ", (comma)"]
}
