# Special "key" rules that don't map to letters but are still displayed in rule breakdowns.
# These always go at the end of rule patterns (in regular parentheses ()) regardless of steno order.

{
  # number modifiers
  "-P:FS":  ["-P",  "", ["SPEC"], "use to capitalize fingerspelled letters"],
  "#:NM":   ["#",   "", ["SPEC"], "use to shift to number mode"],
  "EU:NM":  ["EU",  "", ["SPEC"], "use to invert the order of two digits"],
  "-D:NM":  ["-D",  "", ["SPEC"], "use to double a digit"],

  # uncommon modifiers
  "A*U:SP": ["A*U", "", ["STRK"], "ending stroke to indicate international spelling"],
  "SP-S:FS":["SP-S","", ["STRK"], "explicit space"],
  "SKWR:PS":["SKWR","", ["RARE"], "uncommon prefix/suffix modifier"]
}
