{
  # Keys in basic positions, defined in main output in gray for background.
  "base": {
    "base": "bg=base;pos=#;shape=number;pos=S;shape=tall;pos=T;shape=square;pos=K;shape=round;pos=P;shape=square;pos=W;shape=round;pos=H;shape=square;pos=R;shape=round;pos=A;shape=round;pos=O;shape=round;pos=*;shape=tall;pos=E;shape=round;pos=U;shape=round;pos=f;shape=square;pos=r;shape=round;pos=p;shape=square;pos=b;shape=round;pos=l;shape=square;pos=g;shape=round;pos=t;shape=square;pos=s;shape=round;pos=d;shape=square;pos=z;shape=round"},
  # Standard steno keys with capital letter label.
  "key": {
    "#": "bg=key;pos=#;shape=number;text=   #   #   #   #   #   ",
    "S": "bg=key;pos=S;shape=tall;text=S",
    "T": "bg=key;pos=T;shape=square;text=T",
    "K": "bg=key;pos=K;shape=round;text=K",
    "P": "bg=key;pos=P;shape=square;text=P",
    "W": "bg=key;pos=W;shape=round;text=W",
    "H": "bg=key;pos=H;shape=square;text=H",
    "R": "bg=key;pos=R;shape=round;text=R",
    "A": "bg=key;pos=A;shape=round;text=A",
    "O": "bg=key;pos=O;shape=round;text=O",
    "*": "bg=key;pos=*;shape=tall;text=*",
    "E": "bg=key;pos=E;shape=round;text=E",
    "U": "bg=key;pos=U;shape=round;text=U",
    "f": "bg=key;pos=f;shape=square;text=F",
    "r": "bg=key;pos=r;shape=round;text=R",
    "p": "bg=key;pos=p;shape=square;text=P",
    "b": "bg=key;pos=b;shape=round;text=B",
    "l": "bg=key;pos=l;shape=square;text=L",
    "g": "bg=key;pos=g;shape=round;text=G",
    "t": "bg=key;pos=t;shape=square;text=T",
    "s": "bg=key;pos=s;shape=round;text=S",
    "d": "bg=key;pos=d;shape=square;text=D",
    "z": "bg=key;pos=z;shape=round;text=Z"},
  # Placeholders for keys with unknown function.
  "qkey": {
    "#": "bg=qkey;pos=#;shape=number;text=    ?    ?    ?    ?    ?    ",
    "S": "bg=qkey;pos=S;shape=tall;text=?",
    "T": "bg=qkey;pos=T;shape=square;text=?",
    "K": "bg=qkey;pos=K;shape=round;text=?",
    "P": "bg=qkey;pos=P;shape=square;text=?",
    "W": "bg=qkey;pos=W;shape=round;text=?",
    "H": "bg=qkey;pos=H;shape=square;text=?",
    "R": "bg=qkey;pos=R;shape=round;text=?",
    "A": "bg=qkey;pos=A;shape=round;text=?",
    "O": "bg=qkey;pos=O;shape=round;text=?",
    "*": "bg=qkey;pos=*;shape=tall;text=?",
    "E": "bg=qkey;pos=E;shape=round;text=?",
    "U": "bg=qkey;pos=U;shape=round;text=?",
    "f": "bg=qkey;pos=f;shape=square;text=?",
    "r": "bg=qkey;pos=r;shape=round;text=?",
    "p": "bg=qkey;pos=p;shape=square;text=?",
    "b": "bg=qkey;pos=b;shape=round;text=?",
    "l": "bg=qkey;pos=l;shape=square;text=?",
    "g": "bg=qkey;pos=g;shape=round;text=?",
    "t": "bg=qkey;pos=t;shape=square;text=?",
    "s": "bg=qkey;pos=s;shape=round;text=?",
    "d": "bg=qkey;pos=d;shape=square;text=?",
    "z": "bg=qkey;pos=z;shape=round;text=?"},
  # Normal rules. Only make labels for rules that are NOT strictly phonetic with respect to their keys.
  "rule": {
    # Single keys
    "com.": "bg=rule;pos=K;shape=round;text=com",
    "con.": "bg=rule;pos=K;shape=round;text=con",
    "rep.": "bg=rule;pos=R;shape=round;text=rep",
    "ret.": "bg=rule;pos=R;shape=round;text=ret",
    "oth":  "bg=rule;pos=O;shape=round;text=oth",
    ".v":   "bg=rule;pos=f;shape=square;text=v",
    ".s.":  "bg=rule;pos=f;shape=square;text=s",
    ".C.":  "bg=rule;pos=f;shape=square;text=c",
    ".ly":  "bg=rule;pos=l;shape=square;text=ly",
    ".ing": "bg=rule;pos=g;shape=round;text=ing",
    ".ty":  "bg=rule;pos=t;shape=square;text=ty",
    # Double-wide horizontal compound keys
    "f.":   "bg=rule;pos=T;shape=rect;text=f",
    "m.":   "bg=rule;pos=P;shape=rect;text=m",
    "oo":   "bg=rule;pos=A;shape=wide;text=oo",
    "i":    "bg=rule;pos=E;shape=wide;text=i",
    "y":    "bg=rule;pos=E;shape=wide;text=y",
    ".ch":  "bg=rule;pos=f;shape=rect;text=ch",
    ".sh":  "bg=rule;pos=r;shape=wide;text=sh",
    ".m":   "bg=rule;pos=p;shape=rect;text=m",
    ".k":   "bg=rule;pos=b;shape=wide;text=k",
    ".c":   "bg=rule;pos=b;shape=wide;text=c",
    ".q":   "bg=rule;pos=b;shape=wide;text=q",
    "~shun":"bg=rule;pos=g;shape=wide;text=SHUN",
    # Double-long vertical compound keys
    "d.":   "bg=rule;pos=T;shape=tall;text=d",
    "b.":   "bg=rule;pos=P;shape=tall;text=b",
    "l.":   "bg=rule;pos=H;shape=tall;text=l",
    ".n":   "bg=rule;pos=p;shape=tall;text=n",
    ".lj":  "bg=rule;pos=l;shape=tall;text=lj",
    ".lch": "bg=rule;pos=l;shape=tall;text=lch",
    # Triple-wide horizontal compound keys
    "int.": "bg=rule;pos=S;shape=3rect;text=int",
    "ent.": "bg=rule;pos=S;shape=3rect;text=ent",
    "n.":   "bg=rule;pos=T;shape=3rect;text=n",
    "y.":   "bg=rule;pos=K;shape=3wide;text=y",
    ".x":   "bg=rule;pos=b;shape=3wide;text=x",
    "~kshun": "bg=rule;pos=b;shape=3wide;text=KSHUN",
    # L-shaped compound keys
    ".rv":  "bg=rule;pos=f;shape=L;text=rv",
    ".nj":  "bg=rule;pos=p;shape=L;text=nj",
    # 4-wide horizontal compound keys
    "j.":   "bg=rule;pos=S2;shape=4wide;text=j",
    "G.":   "bg=rule;pos=S2;shape=4wide;text=g",
    # 2x2 square compound keys
    "g.":   "bg=rule;pos=T;shape=2x2;text=g",
    ".j":   "bg=rule;pos=p;shape=2x2;text=j",
    ".G":   "bg=rule;pos=p;shape=2x2;text=g",
    ".rch": "bg=rule;pos=f;shape=2x2;text=rch",
    ".nch": "bg=rule;pos=f;shape=2x2;text=nch",
    # Long vowels and other piecewise sets of keys
    "A":   "bg=rule;pos=A;shape=vA;text=A",
    "O":   "bg=rule;pos=O;shape=vO;text=O",
    "E":   "bg=rule;pos=A;shape=vE;text=E",
    "U":   "bg=rule;pos=A;shape=vU;text=U",
    "I":   "bg=rule;pos=A;shape=vI;text=I",
    "oi":  "bg=rule;pos=O;shape=vOI;text=OI",
    "v.":  "bg=rule;pos=S2;shape=r__r;text=v",
    "C.+": "bg=rule;pos=K;shape=r_r;text=c",
    "x.":  "bg=rule;pos=T;shape=diag;text=x",
    ".xt": "bg=rule;pos=l;shape=diag;text=xt",
    # Rarely encountered rules
    "z.*":   "bg=rare;pos=S;shape=3x2;text=z",
    ".v.":   "bg=rare;pos=W;shape=round;text=v",
    ".m~":   "bg=rare;pos=f;shape=tall;text=m",
    ".nch+": "bg=rare;pos=f;shape=3x2;text=nch",
    ".gion": "bg=rare;pos=g;shape=wide;text=GEN",
    # Rules using the asterisk, including fingerspelling
    "-P:FS": "bg=star;pos=p;shape=square;path=uparrow",
    "a*": "bg=star;pos=*;shape=tall;text=*;pos=A;shape=round;text=a",
    "b*": "bg=star;pos=*;shape=tall;text=*;pos=P;shape=tall;text=b",
    "c*": "bg=star;pos=*;shape=tall;text=*;pos=K;shape=r_r;text=c",
    "d*": "bg=star;pos=*;shape=tall;text=*;pos=T;shape=tall;text=d",
    "e*": "bg=star;pos=*;shape=tall;text=*;pos=E;shape=round;text=e",
    "f*": "bg=star;pos=*;shape=tall;text=*;pos=T;shape=rect;text=f",
    "g*": "bg=star;pos=*;shape=tall;text=*;pos=T;shape=2x2;text=g",
    "h*": "bg=star;pos=*;shape=tall;text=*;pos=H;shape=square;text=h",
    "i*": "bg=star;pos=*;shape=tall;text=*;pos=E;shape=wide;text=i",
    "j*": "bg=star;pos=*;shape=tall;text=*;pos=S2;shape=4wide;text=j",
    "k*": "bg=star;pos=*;shape=tall;text=*;pos=K;shape=round;text=k",
    "l*": "bg=star;pos=*;shape=tall;text=*;pos=H;shape=tall;text=l",
    "m*": "bg=star;pos=*;shape=tall;text=*;pos=P;shape=rect;text=m",
    "n*": "bg=star;pos=*;shape=tall;text=*;pos=T;shape=3rect;text=n",
    "o*": "bg=star;pos=*;shape=tall;text=*;pos=O;shape=round;text=o",
    "p*": "bg=star;pos=*;shape=tall;text=*;pos=P;shape=square;text=p",
    "q*": "bg=star;pos=*;shape=tall;text=*;pos=K;shape=wide;text=q",
    "r*": "bg=star;pos=*;shape=tall;text=*;pos=R;shape=round;text=r",
    "s*": "bg=star;pos=*;shape=tall;text=*;pos=S;shape=tall;text=s",
    "t*": "bg=star;pos=*;shape=tall;text=*;pos=T;shape=square;text=t",
    "u*": "bg=star;pos=*;shape=tall;text=*;pos=U;shape=round;text=u",
    "v*": "bg=star;pos=*;shape=tall;text=*;pos=S2;shape=r__r;text=v",
    "w*": "bg=star;pos=*;shape=tall;text=*;pos=W;shape=round;text=w",
    "x*": "bg=star;pos=*;shape=tall;text=*;pos=T;shape=diag;text=x",
    "y*": "bg=star;pos=*;shape=tall;text=*;pos=K;shape=3wide;text=y",
    "z*": "bg=star;pos=*;shape=tall;text=*;pos=S;shape=2x2;text=z",
    "z.": "bg=star;pos=*;shape=tall;text=*;pos=S;shape=tall;text=z",
    ".mp+": "bg=star;pos=*;shape=tall;text=*;pos=p;shape=rect;text=mp",
    ".k~":  "bg=star;pos=*;shape=tall;text=*;pos=g;shape=round;text=k",
    ".th":  "bg=star;pos=*;shape=tall;text=*;pos=t;shape=square;text=th",
    ".st+": "bg=star;pos=*;shape=tall;text=*;pos=s;shape=round;text=st",
    # Number keys and specific number-based modifiers
    "#:NM": "bg=number;pos=#;shape=number;text=   #   #   #   #   #   ",
    "1":    "bg=number;pos=S;shape=tall;text=1",
    "2":    "bg=number;pos=T;shape=square;text=2",
    "3":    "bg=number;pos=P;shape=square;text=3",
    "4":    "bg=number;pos=H;shape=square;text=4",
    "5":    "bg=number;pos=A;shape=round;text=5",
    "0":    "bg=number;pos=O;shape=round;text=0",
    "EU:NM": "bg=number;pos=E;shape=wide;path=lrarrows",
    "6":     "bg=number;pos=f;shape=square;text=6",
    "7":     "bg=number;pos=p;shape=square;text=7",
    ":00":   "bg=number;pos=b;shape=wide;text=##:00",
    "8":     "bg=number;pos=l;shape=square;text=8",
    "9":     "bg=number;pos=t;shape=square;text=9",
    "-D:NM": "bg=number;pos=d;shape=square;text=##",
    "00":    "bg=number;pos=z;shape=round;text=00",
    # Symbols
    "/": "bg=symbol;pos=O;shape=vOI;text=/",
    "'": "bg=symbol;pos=A;shape=v_v;text='",
    ".": "bg=symbol;pos=f;shape=4rect;text=.",
    ",": "bg=symbol;pos=r;shape=4wide;text=,",
    # Connection modifiers
    "KWR:PS":   "bg=misc;pos=K;shape=3wide;text=...",
    "SKWR:PS":  "bg=misc;pos=S2;shape=4wide;text=...",
    "-RBGS:PS": "bg=misc;pos=r;shape=4wide;text=...",
    # Briefs
    "is":    "bg=brief;pos=S;shape=tall;text=is",
    "and":   "bg=brief;pos=S2;shape=and;text=and",
    "just":  "bg=brief;pos=S2;shape=4wide;text=just",
    "have":  "bg=brief;pos=S2;shape=r__r;text=have",
    "it":    "bg=brief;pos=T;shape=square;text=it",
    "did":   "bg=brief;pos=T;shape=tall;text=did",
    "go":    "bg=brief;pos=T;shape=2x2;text=go",
    "if":    "bg=brief;pos=T;shape=rect;text=if",
    "in":    "bg=brief;pos=T;shape=3rect;text=in",
    "can":   "bg=brief;pos=K;shape=round;text=can",
    "why":   "bg=brief;pos=K;shape=3wide;text=why",
    "about": "bg=brief;pos=P;shape=tall;text=about",
    "with":  "bg=brief;pos=W;shape=round;text=with",
    "had":   "bg=brief;pos=H;shape=square;text=had",
    "will":  "bg=brief;pos=H;shape=tall;text=will",
    "are":   "bg=brief;pos=R;shape=round;text=are",
    "he":    "bg=brief;pos=E;shape=round;text=he",
    "you":   "bg=brief;pos=U;shape=round;text=you",
    "of":    "bg=brief;pos=f;shape=square;text=of",
    "ever":  "bg=brief;pos=f;shape=tall;text=ever",
    "are+":  "bg=brief;pos=r;shape=round;text=are",
    "an":    "bg=brief;pos=p;shape=tall;text=an",
    "be":    "bg=brief;pos=b;shape=round;text=be",
    "the":   "bg=brief;pos=t;shape=square;text=the"}
}
